<button class="btn" type="button" data-aimate-generate-alt-text-button data-element="{{ element.id }}" data-site="{{ element.siteId }}">
    <span class="label">{{ 'Generate Alt Text'|t('_aimate') }}</span>
    <span class="spinner spinner-absolute"></span>
</button>
